#Paquetes
asgiref==3.7.2
Django==4.2
sqlparse==0.5.1
mssql-django==1.6
pyodbc==5.2.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
PyJWT==2.10.0
django-cors-headers==4.7.0
drf-yasg==1.21.8
gunicorn

